<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.unc.dominno.litcommitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    //Needed for FB integration
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        //To use FB login and share
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //Sharing links, images, or video via FB for Android app
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1712265072392198"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        //Needed for FB integration
        <activity android:name=".CalendarTab" />
        <activity android:name=".TimerTab" />
        <activity android:name=".TodoTab" />

        <provider
            android:name=".TodoCP"
            android:authorities="edu.unc.dominno.litcommitapp.todocp"
            android:exported="false" />

        <activity
            android:name=".TodoEditor"
            android:label="@string/title_activity_todo_editor"
            android:parentActivityName=".TodoTab"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.unc.dominno.litcommitapp.TodoTab" />
        </activity>
        <activity android:name=".DateChooser"
            android:theme="@style/AppTheme.PopTheme"></activity>
    </application>

</manifest>
